{{>partial_header}}
package {{packageName}}

import (
	"github.com/gin-gonic/gin"
)

// Configure the server
func Configure (router *gin.Engine) error {
    router.Static("{{{basePathWithoutHost}}}/help", "./api")
    return nil
}