{{>partial_header}}
package {{packageName}}

{{#operations}}
import (
	"net/http"

	"github.com/gin-gonic/gin"
){{#operation}}

// Handle {{nickname}} - {{{summary}}} {{httpMethod}} {{{path}}}
// func (a *{{operationId}}Api) Handle(c *gin.Context) (int, interface{}) {
// 	return http.StatusOK, gin.H{}
// }

{{/operation}}{{/operations}}
